
#servicos {
  padding: 0.5rem 0rem;
  background-color: #14171c;
  background-image: url(../../imgs/background-servicos.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.textoservicos h2 {
  font-family: "SpongyThin";
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 3.5rem;
}

.textoservicos p {
  margin: 0.9375rem;
}

.textoservicos h3 {
  display: none;
}

.buttonServicos {
  background-color: var(--cor-roxo);
  padding: 0.4rem 1.7rem;
  border: none;
  border-radius: 1.875rem;
  font-size: 0.9375rem;
  margin-bottom: 4.6875rem;
  margin-top: 0.9375rem;
}

.buttonServicos a {
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
}


.servicosCardBoxDesktop {
  display: none;
}

.servicoSlideMobile {
  display: flex;
  gap: 10px;
  overflow: hidden;
  width: 300%; /* Ajuste a largura conforme o número de imagens (3 imagens = 300%, 4 imagens = 400%, etc.) */
  animation: scroll 20s linear infinite;
}

.servicoSlideMobile .card {
  height: 240px;
  width: 100%;
}

.servicoSlideMobile .card p {
  font-size: 0.8rem;
  font-family: 'SpongyThin';
  line-height: 1.2rem;
  margin-top: 190px;
}

.servicosCardBoxMobile {
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%; /* Certifique-se de que o slider ocupa 100% da largura disponível */
  overflow: hidden; /* Certifique-se de que o overflow é oculto para esconder as partes fora do slider */
}

.servicoSlideMobile .cardResponsividade,
.servicoSlideMobile .cardVelocidade,
.servicoSlideMobile .cardExperiencia {
  width: 150px; /* Cada imagem deve ocupar 100% da largura do .slide-track */
  background-position: center center;
  background-size: cover; /* Adicione esta propriedade para garantir que a imagem cubra completamente o espaço */
}

.servicoSlideMobile .cardResponsividade {
  background-image: url(../../imgs/background-card-um.svg);
}

.servicoSlideMobile .cardVelocidade {
  background-image: url(../../imgs/background-card-tres.svg);
}

.servicoSlideMobile .cardExperiencia {
  background-image: url(../../imgs/background-card-dois.svg);
}

@keyframes scroll {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(-180px);
  }
}



@media screen and (min-width: 450px) {
  .buttonServicos {
    display: block;
    margin: 0 auto;
    margin-bottom: 4.6875rem;
    margin-top: 0.9375rem;
  }

  
@keyframes scroll {
  
  50% {
    transform: translateX(-90px);
  }
}
}

@media screen and (min-width: 600px) {
  .buttonServicos {
    padding: 0.4rem 1.7rem;
    width: 80%;
  }

  .servicoSlideMobile .card p {
    width: 92%;
  }

  
.servicoSlideMobile .cardResponsividade,
.servicoSlideMobile .cardVelocidade,
.servicoSlideMobile .cardExperiencia {
  width: 180px; /* Cada imagem deve ocupar 100% da largura do .slide-track */
  background-position: center center;
  background-size: cover; /* Adicione esta propriedade para garantir que a imagem cubra completamente o espaço */
}
    
@keyframes scroll {
  
  50% {
    transform: translateX(-80px);
  }
}
}

@media screen and (min-width: 768px) {
  #servicos {
    background-color: #14171c;
    background-image: url(../../imgs/background-servicos.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textoservicos {
    margin-top: 0px;
    width: 35%;
  }

  
  .servicosCardBoxMobile {
    display: none;
  }

  .textoservicos h3 {
    display: block;
  }

  .textoservicos h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0rem;
  }
  .textoservicos h2,
  .textoservicos p {
    text-align: left;
    margin: 0;
  }

  .textoservicos h2 {
    font-size: 1.5rem;
  }

  .textoservicos p {
    padding: 1rem 0rem;
    width: 90%;
    line-height: 1rem;
    font-size: 0.9rem;
  }

  #servicos {
    padding: 1rem 0rem;
    height: 50vh;
  
  }

  .buttonServicos {
    width: 35%;
    margin: 0;
    padding: 0.7rem 0.4rem;
  }

  .buttonServicos a {
    font-size: 0.9rem;
  }

  .servicosCardBoxDesktop {
    display: flex;
    width: 58%;
    align-items: center;
  }

  .servicosCardBoxDesktop .card {
    height: 225px;
    width: 70%;
  }

  .servicosCardBoxDesktop p {
    margin-top: 165px;
    padding-top: 1rem;
    font-family: 'SpongyThin';
    line-height: 1.2rem;
    font-size: 0.8rem;
  }

  .cardResponsividade {
    background-image: url(../../imgs/background-card-um.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
  }

  .cardExperiencia {
    background-image: url(../../imgs/background-card-dois.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5rem;
    background-position: bottom center;
  }

  .cardVelocidade {
    background-image: url(../../imgs/background-card-tres.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    margin-top: 2rem;
  }

  .textoservicos h3 {
    text-align: left;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1080px) {
  #servicos {
    display: flex;
    align-items: center;
  }

  .textoservicos h2 {
    width: 80%;
  }

  .textoservicos p {
    width: 85%;
  }

  .buttonServicos {
    width: 30%;
    padding: 0.4rem 0rem;
    margin-bottom: 5rem;
  }

  .servicosCardBoxDesktop .card {
    height: 300px;
  }

  .servicosCardBoxDesktop p {
    margin-top: 245px;
    width: 80%;
    margin: 14rem auto 0rem auto;
    font-size: 1rem;
  }
}
